.block{
    flex: auto;
    height: 100%;
    width: 100%;
    background-color: white;
}

.row{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.blockTransition{
    transition: background-color 1s;
    background-color: white;
}


.border{
    border: 5px solid black;
    border-radius: 3px;
}

#grid{
    display: flex;
    /* justify-content: center; */
    width: 600px;
    height: 600px;
    align-items: center;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 3px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#test{
    background-color: blue;
    width: 50px;
    height: 50px;
}