.block{
    width: 25px;
    height: 25px;
    background-color: black;
}

.row{
    display: flex;
    flex-direction: row;
}

#grid{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}


#test{
    background-color: blue;
    width: 50px;
    height: 50px;
}